@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main), -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-background);
}

:root {
  --clr-jungle-mist: #B2D7CE;
  --clr-scarpa-flow: #545767;
  --clr-cascade: #96ABA9;
  --clr-pearl-brush: #DFD6D2;
  --clr-pancho: #F0C8B0;
  --clr-background: #8A9BA7;

  /* **** FONTS ROOT UNDER HÄR ***** */
  
  --font-main: 'Roboto', sans-serif; 
  --font-second: "Montserrat"; 

}