body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-background);;
}

:root {
  --clr-jungle-mist: #B2D7CE;
  --clr-scarpa-flow: #545767;
  --clr-cascade: #96ABA9;
  --clr-pearl-brush: #DFD6D2;
  --clr-pancho: #F0C8B0;
  --clr-background: #8A9BA7;

  /* **** FONTS ROOT UNDER HÄR ***** */

}