@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap");

:root {
  
  /*** Color schema ***/
 
  --clr-offwhite: #e8e8e8;
  --clr-dark: #303346;

  --clr-bg-gray: #6a6d80;

  --clr-mint: #c0e1da;
  --clr-jungle: #a5b9b7;
 
  --clr-ballon: #F7D5BF;
  --clr-pancho: #e3c0ab;
  --clr-pancho-shadow: #b19f95;

  --clr-powderblue: #b5c4cf;
  --clr-storm: #a1afba;

  /* Error message color: red
    shadow color: gray */

  /* Text colors */
  /* --clr-offwhite: #e8e8e8;
  --clr-dark: #303346; */


  /* **** FONTS  ***** */
  
  --font-brush: "Dancing Script", cursive;
  --font-text: "Quicksand", sans-serif;
  --font-main: "Roboto", sans-serif;
  --font-second: "Montserrat";
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-main), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-fill-color: rgba(25, 26, 36, 1); 
 
}

body {
  overflow: hidden;
  background-color: var(--clr-bg-gray);
  color: var(--clr-dark);
  opacity: 1;
  
}
