@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /*** Colors ***/

  /*** Backgrounds + MULTI use ***/

  /* Används som main backgrounds färg 
     -> backgrund till icon list vy
     -> backgrund icon about us */
  --clr-background: #6a6d80;
  --clr-background-dark: #303346;

  /* Används som main LJUS backgrunds färg.  
    -> backgrund till input fält
    -> backgrund till knappar 
    -> Text färg till Header och listvy med MÖRK bakgrund */
  --clr-background-light: #e8e8e8;

  /* Background register vy */
  --clr-background-register: #a5b9b7;

  /* Backgrund Login in + About us kort */
  --clr-background-login: #a1afba;

  /* Backgrund Ballong i backgrunden för Register + Login in */
  --clr-background-ballon: #e4bfac;

  /* Header color for Create birthday */
  --clr-header-create-birthday: #e3c0ab;

  /* Backgrund för korten */
  /* Grön ljus */
  --clr-background-green-card: #c0e1da;
  /* Orange Ljus */
  --clir-background-orange-card: #f9d4c1;

  /* Text colors */
  --clr-text-dark: #303346; /*Använda denna färgen på alla? lägga som main färg i body = deafult färg? */

  /* vet inte om vi behöver dessa ViSv 2023-01-05  */
  --clr-jungle-mist: #b2d7ce;
  --clr-scarpa-flow: #545767;
  --clr-cascade: #96aba9;
  --clr-pearl-brush: #dfd6d2;
  --clr-pancho: #f0c8b0;

  /* **** FONTS ROOT UNDER HÄR ***** */
  --font-main: "Roboto", sans-serif;
  --font-second: "Montserrat";
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-main), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text-dark);
}
